.proyectos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem 4.8rem;
    margin: 5rem 2rem 0 2rem;
}
.proyectos p {
    color: var(--color-negro);
    margin-top: 0.5rem;
}
.proyectos__subtitulo{
    margin-left: 0rem;
}
.proyectos__subtitulo h3{    
    font-size: 1.6rem;
    color: var(--color-morado-oscuro);
}
.proyectos__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.2rem;
    overflow: hidden;
    border-radius: 1rem;


}
.proyectos__img img{
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    width: 36vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 1rem;
    transition: scale 400ms;

}

.proyectos__img img:hover{
    scale: 117%;

}


@media screen and (min-width: 768px) and (max-width:1210px){

    .proyectos{
        gap: 3rem 2rem;
    }
    .proyectos__contenedor{
        width: 34vw;
    }
    .proyectos__subtitulo{
        margin-left: 0rem;
    }
    .proyectos__subtitulo h3{    
        font-size: 1.4rem;
    }
    .proyectos__img img{
        width: 34vw;
        height: 36vh;
    }
    

}

@media screen and (max-width: 767px){
    .proyectos{
        gap: 3rem 2rem;
    }
    .proyectos__contenedor{
        width: 80vw;
    }
    .proyectos__subtitulo{
        margin-left: 0rem;
    }
    .proyectos__subtitulo h3{    
        font-size: 1.4rem;
    }
    .proyectos__img img{
        width: 80vw;
        height: 36vh;
        transition: none;
    }
    .proyectos__img img:hover{
        scale: 100%;
    
    }
    


}
