*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.projects a {
    color: #3F3351;
    font-size: 18px;
    font-weight: 600;
    margin-top: 35px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    margin-top: 100px;
}
.sub{
    margin-left: 182px;
}
.sub h4{    
    font-size: 30px;
    color: #A084DC;
}
.preview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}
.preview img{
    width: 575px;
    height: 330px;
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.preview img:first-child{
    border-radius: 15px 0px 0px 15px;
}
.preview img:nth-child(2){
    border-radius: 0px 15px 15px 0px;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .projects{
        gap: 45px;
        margin-top: 45px;
    }
    .sub{
        margin-left: 0px;
        text-align: center;
    }
    .preview img{
        width: 320px;
        height: 200px;
    }
    .preview img:first-child{
        border-radius: 15px 0px 0px 15px;
    }
    .preview img:nth-child(2){
        border-radius: 0px 15px 15px 0px;
    }
}

@media screen and (max-width: 767px){
    .sub {
        text-align: center;
        margin-left: 0px;
    }
    .projects{
        margin-top: 25px;
    }
    .preview img{
        width: 300px;
        height: 125px;
        margin: 0px 15px 0px 15px;
    }
    .preview img:first-child{
        border-radius: 15px 15px 0px 0px;
    }
    .preview img:nth-child(2){
        border-radius: 0px 0px 15px 15px;
    }
}
