*{
    font-family: 'Poppins', sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
body{
    box-sizing: border-box;
    background: radial-gradient(circle, #645cbb8b 10%, transparent 10%);
    background-size: 1em 1em;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #645CBB;
}
b{
    font-size: 18px;
    color: #3F3351;
}

/*Desktop Menu*/

.nav-desktop{
    position: fixed;
    top: 0;
    right: 0;
}
.nav-desktop-ul{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: row;
    gap:25px ;
    margin-right: 182px;
}
.li-container{
    margin: 30px 0px 30px 0px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    border-radius: 25px;
}
.nav-desktop li{
    font-family: 'Space Grotesk', sans-serif;
    color: #645CBB;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

/*hero index*/

.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 100px 0px 0px 182px;
}
.hero--ivonne-merlin{
    font-size: 24px;
    color: #A084DC;
}
.hero--ux-ui{
    font-size: 43px;
    color: #1e1e1e;
    line-height: 1.1;
    margin-top: -20px;
}
.hero-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    margin: 45px 25px 0px 25px;
}
.hero-description p{
    max-width: 525px;
    min-width: 200px;
    font-size: 18px;
    line-height: 1.6;
}

/* Section two */

.galery{
    margin-top: 70px;
}
.galery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 25px 0px 25px;
}
.galery-container img{
	width: 1150px;
    height: 350px;
	object-fit: cover;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.galery-container img:first-child{
	border-radius: 15px 15px 0px 0px;
}
.galery-container img:nth-child(3){
	border-radius: 0px 0px 15px 15px;
}

/*Section three*/

.section-three{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
.studies, .skills, .tools{
    width: 350px;
}
.listado{
    margin-top: 15px;
}
.listado button{
    border-radius: 25px;
    border: none;
    width: 300px;
    padding: 10px;
    margin-top: 35px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.listado a{
    font-size: 16px;
    font-weight: 600;
    color:#A084DC;
}
.section-three h3{
    font-size: 32px;
    color: #A084DC;
}
.section-three li{
    line-height: 1.6;
    font-size: 18px;
}

/*Footer*/

footer{
    margin-top: 200px;
    height: 250px;
}
footer p{
    margin-left: 182px;
    font-size: 64px;
    font-weight: 700;
    color: #A084DC;
}
.footer-links--container{
    margin-top: 35px;
    margin-right: 182px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    gap: 25px;
}
footer a{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    color: #645CBB;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    border-radius: 25px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .nav-desktop-ul{
        margin-right: 25px;
    }
    .hero{
        text-align: center;
        margin: 100px 25px 0px 25px;
    }
    .hero--ux-ui{
        line-height: 1.1;
    }
    .hero-description{
        gap: 10px;
    }
    .hero-description p{
        text-align: center;
        max-width: 750px;
    }
    .galery-container img{
        height: 250px;
    }
    .section-three{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .studies, .skills, .tools{
        width: 700px;
    }
    footer p{
        text-align: center;
        margin-left: 0px;
    }
    .footer-links--container{
        margin-right: 0px;
    }
    .footer-links{
        justify-content: center;
    }
}

@media screen and (max-width: 767px){
    .nav-desktop-ul{
        margin-right: 25px;
    }
    .hero{
        text-align: center;
        margin: 100px 25px 0px 25px;
    }
    .hero--ivonne-merlin h1{
        font-size: 36px;
    }
    .hero--ux-ui h2{
        font-size: 40px;
        line-height: 1.1;
    }
    .hero-description{
        gap: 10px;
    }
    .hero-description p{
        text-align: center;
        max-width: 750px;
        font-size: 16px;
    }
    .galery-container img{
        height: 250px;
    }
    .section-three{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .section-three h3{
        font-size: 28px;
    }
    .section-three li,b{
        font-size: 16px;
    }
    .studies, .skills, .tools{
        width: 320px;
    }
    footer p{
        text-align: center;
        margin-top: -100px;
        margin-left: 0px;
        font-size: 52px;
    }
    .footer-links--container{
        margin-right: 0px;
    }
    .footer-links{
        justify-content: center;
    }
}