footer{
    margin-top: 12rem;
    margin-bottom: 5rem;
}
footer p{
    margin-left: 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-morado-claro);
}
.footer__container{
    margin-top: 2rem;
    margin-right: 10rem;
}
.footer__container-links{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 1.8rem;
}
footer a{
    font-family: var(--tipografia-subtitulos);
    background-color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    color: #645CBB;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    border-radius: 2rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    footer{
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    footer p{
        margin-left: 3rem;
    }
    .footer__container{
        margin-top: 2rem;
        margin-right: 3rem;
    }
    .footer__container-links{
        gap: 2rem 1rem;
    }
}


@media screen and (max-width: 767px){
    footer{
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    footer p{
        margin-left: 0rem;
        font-size: 3.2rem;
        text-align: center;
    }
    .footer__container{
        margin: 2rem 2rem 2rem 2rem;
    }
    .footer__container-links{
        justify-content: center;
        gap: 2rem 1rem;
    }
}