*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.projects a {
    color: #1e1e1e;
    font-weight: 500;
}

/*PROYECTOS*/

.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    margin-top: 100px;
}
.sub{
    margin-left: 182px;
}
.sub h4{    
    font-size: 24px;
    color: #A084DC;
}
.illust{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}
.illust img{
    width: 575px;
    height: 330px;
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.illust img:first-child{
    border-radius: 15px 0px 0px 15px;
}
.illust img:nth-child(2){
    border-radius: 0px 15px 15px 0px;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .illust img{
        width: 320px;
        height: 200px;
    }
    .sub{
        text-align: center;
        margin-left: 0px;
    }
    .sub h4{    
        font-size: 24px;
        color: #A084DC;
    }
}
@media screen and (max-width: 767px){
    .illust img{
        width: 300px;
        height: 160px;
    }
    .sub{
        text-align: center;
        margin-left: 0px;
    }
    .sub h4{    
        font-size: 24px;
        color: #A084DC;
    }
    .illust img:first-child{
        border-radius: 15px 0px 0px 15px;
    }
    .illust img:nth-child(2){
        border-radius: 0px 15px 15px 0px;
    }
}