*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sub{
    font-size: 24px;
    color: #A084DC;
}
.desc{
    margin-top: 100px;
}
.desc h3{
    margin-left: 183px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 35px;    
}
.text p{
    width: 540px;
}

/*IDENTIFICADORES GRÁFICOS*/

.identificadores-container{
    margin-top: 100px;
}

.identificadores-container .sub h3{
    margin-left: 183px;
}

.identificadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}
.obj img{
    width: 175px;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    background-color: #fff;
    border-radius: 15px;
}
/*COLOR Y TIPOGRAFÍA*/

.resources-section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.color-container img{
    width: 550px;
}
.color-container, .tipo-container{
    margin-top: 35px;
    width: 560px;
}
.tipo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.tipo img{
    width: 260px;
}

/*LOGOTIPOS*/

.logo-section{
    margin-top: 100px;
}
.logo-section h3{
    margin-left: 183px;
}
.logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 35px 180px 0px 180px;
}
.logo-container img{
    width: 175px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.textures-container{
    margin-top: 100px;
}
.textures-container h3{
    margin-left: 183px;
}
.textures{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 35px;
}
.textures img{
    object-fit: cover;
    width: 560px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.products-container{
    margin-top: 100px;
}
.products-container h3{
    margin-left: 183px;
}
.products{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 35px;
}
.products img,video{
    object-fit: cover;
    width: 560px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.products img:first-child{
    object-fit: contain;
    background-color: #ecc3b2;
}
.products img:nth-child(3){
    object-position: 0px -80px ;
}
.products img:last-child{
    object-position: 0px -360px ;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .desc{
        margin-top: 100px;
        text-align: center;
    }
    .desc h3{
        margin-left: 0px;
    }
    .text{
        gap: 15px;
        margin-top: 25px;    
    }
    .text p{
        width: 600px;
    }
    .identificadores-container{
        margin-top: 45px;
    }    
    .identificadores-container .sub h3{
        text-align: center;
        margin-left: 0px;
    }    
    .identificadores{
        margin-top: 45px 50px 0px 50px;
    }
    .obj{
        width: 150px;
    }
    .resources-section{
        margin-top: 45px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 45px;
    }
    .color-container, .tipo-container{
        margin-top: 45px;
    }
    .logo-section{
        margin-top: 45px;
    }
    .logo-section h3{
        text-align: center;
        margin-left: 0px;
    }
    .logo-container{
        gap: 15px;
        margin: 35px 25px 0px 25px;
    }
    .logo-container img{
        width: 150px;
    }
    .textures-container{
        margin-top: 45px;
    }
    .textures-container h3{
        text-align: center;
        margin-left: 0px;
    }
    .textures{
        gap: 15px;
        margin-top: 45px;
    }
    .products-container{
        margin-top: 45px;
    }
    .products-container h3{
        text-align: center;
        margin-left: 0px;
    }
    .products{
        gap: 15px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 767px){
    .sub h3{
        font-size: 22px;
    }
    .desc{
        margin-top: 100px;
        text-align: center;
    }
    .desc h3{
        margin-left: 0px;
        margin-top: -45px;
    }
    .text{
        gap: 15px;
        margin-top: 25px;    
    }
    .text p{
        width: 300px;
        line-height: 1.6;
    }
    .identificadores-container{
        margin-top: 45px;
    }    
    .identificadores-container .sub h3{
        text-align: center;
        margin-left: 0px;
    }    
    .identificadores{
        gap: 10px;
        margin-top: 45px 50px 0px 50px;
    }
    .obj{
        border-radius: 10px;
        width: 125px;
    }
    .resources-section{
        margin-top: 45px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 45px;
    }
    .color-container, .tipo-container{
        margin-top: 45px;
    }
    .color-container img{
        width: 300px;
    }
    .tipo-container{
        flex-direction: column;
    }
    .logo-section{
        margin-top: 45px;
    }
    .logo-section h3{
        text-align: center;
        margin-left: 0px;
    }
    .logo-container{
        gap: 10px;
        margin: 45px 25px 0px 25px;
    }
    .logo-container img{
        width: 125px;
    }
    .textures-container{
        margin-top: 45px;
    }
    .textures-container h3{
        text-align: center;
        margin-left: 0px;
    }
    .textures{
        gap: 10px;
        margin-top: 45px;
    }
    .textures img{
        width: 300px;
        height: 100px;
    }
    .products-container{
        margin-top: 45px;
    }
    .products-container h3{
        text-align: center;
        margin-left: 0px;
    }
    .products{
        gap: 15px;
        margin-top: 45px;
    }
    .products img, .products video{
        width: 300px;
        height: 150px;
    }    
    .products img:last-child{
        object-position: 0px -200px ;
    }
}