/* PÃGINA DE PROYECTOS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 120px 150px 0px 150px;
}
section p{
    line-height: 1.3;
}
.category{
    display: flex;
    height: 500px;
    gap: 10px;
    border-radius: 25px;
}
.category > div{
    flex: 1;
    border-radius: 25px;
    background-position: center;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.category > div:hover{
    flex: 5;
}
.category p{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-top: 200px;
    color: #fff;
    padding: 25px;
    background-color: #1e1e1e50;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    section{
        padding: 100px 125px 0px 125px;
    }
    .category{
        flex-direction: column;
        height: 170px;
        gap: 10px;
        border-radius: 20px;
    }    
    .category > div{
        background-size:cover;
    }
    .category p{
        margin: 70px 0px 70px 0px;
    }
    footer{
        margin-top: 1100px;
    }
}

@media screen and (max-width: 767px){
    section{
        padding: 100px 40px 0px 40px;
    }
    .category{
        flex-direction: column;
        height: 170px;
        gap: 10px;
        border-radius: 20px;
    }    
    .category > div{
        background-size:cover;
    }
    .category p{
        margin: 70px 0px 70px 0px;
    }
    footer{
        margin-top: 1250px;
        margin-bottom: 75px;
    }
    .category{
        margin-top: -70px;
    }
    .category p{
        font-size: 18px; 
        background-color: #1e1e1e85;
    }
    .category > div{
        border-radius: 15px;
    }
}