*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Section -two*/

.section-two{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:45px;
}
.section-two img, video{
    object-fit: cover;
    width: 270px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .section-two{
        margin: 100px 25px 0px 25px;
        gap:15px;
    }
    .section-two img, video{
        object-fit: cover;
        width: 220px;
        height: 350px;
    }
}
@media screen and (max-width: 767px){
    .section-two{
        margin: 65px 25px 0px 25px;
        gap:25px;
    }
    .section-two img, video{
        object-fit: cover;
        width: 300px;
        height: 460px;
    }
}



