.proyecto__contenedor{
    display: flex; 
    flex-wrap: wrap;
    gap: 2.2rem;
    justify-content: center;
    margin: 5rem 6rem 0 6rem;
}

.proyecto__imagen img{
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    border-radius: 1rem;
    object-fit: cover;
    width: 23vw;
    height: 28rem;
}

.proyecto__link{
    position: absolute;
    width: 23vw;
    margin-top: 10%;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    align-items: baseline;
    padding: 5rem 2rem;
    background-color: var(--color-negro-80);
}


@media screen and (min-width:768px) and (max-width:1210px){
    .proyecto__contenedor{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
        margin: 5rem 1rem 0 1rem;

    }
    .proyecto__imagen img{
        width: 70vw;
        height: 19rem;
    }
    
    .proyecto__link{
        width: 70vw;
        margin-top: 10%;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 767px){
    .proyecto__contenedor{
        flex-direction: column;
        margin: 5rem 2.5rem 0 2.5rem;
        gap: 1.2rem;
        align-items: center;
    }
    .proyecto__imagen img{
        width: 65vw;
        height: 11rem;
    }
    
    .proyecto__link{
        width: 65vw;
        margin-top: 7%;
        padding: 2rem 2rem;
    }
}