.proyectos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
}
.proyectos p {
    color: var(--color-morado-oscuro);
    font-weight: 600;
    font-size: 1.2rem;
}
.proyectos__subtitulo h3{    
    font-size: 1.6rem;
    color: var(--color-morado-claro);
}
.proyectos__img{
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.proyectos__img img{
    width: 36vw;
    height: 45vh;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}

@media screen and (min-width: 768px) and (max-width:1210px){
    .proyectos{
        margin: 5rem 3rem 0 3rem ;
        gap: 3rem;
    }
    .proyectos__img img{
        width: 40vw;
    }
}

@media screen and (max-width: 767px){
    .proyectos__subtitulo{
        text-align: center;
        margin-left: 0rem;
    }
    .proyectos__subtitulo h3{
        font-size: 1.75rem;
    }
    .proyectos__subtitulo p{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .proyectos__img{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .proyectos__img img{
        width: 70vw;
        height: 22vh;
    }
}
