.resumen__subtitulo h3,
.identificadores__subtitulo h3, .logotipo__subtitulo h3,
.texturas__subtitulo h3, .productos__subtitulo h3
{
    font-size: 1.6rem;
    color: var(--color-morado-claro);
    margin-left: 12rem;
    margin-top: 5rem;
    font-weight: 700;

}

.color__subtitulo h3, .tipografia__subtitulo h3{
    font-size: 1.6rem;
    color: var(--color-morado-claro);
    font-weight: 700;
}



.resumen{
    margin-top: 5rem;
}
.resumen__descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    margin-top: 35px;    
}
.resumen__descripcion p{
    line-height: 1.8rem;
    width: 32rem;
}


.identificadores{
    margin-top: 5rem;
}
.identificadores__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.identificadores__item{
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    width: 10rem;
    height: 10rem;    
    border-radius: 1rem;
}
.identificadores__item img{
    object-fit: cover;
    border-radius: 1rem;
    
}


.recursos{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.color__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem 1.5rem;
}
.color__item{
    width: 17rem;
    height: 8.3rem;
    border-radius: 1rem;
}
.color__contenedor img{
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    object-fit: contain;
}
.color__item:first-child{
    background-color: #001689;
}
.color__item:nth-child(2){
    background-color: #dcdae9;
}
.color__item:nth-child(3){
    background-color: #2d2a26;
}
.color__item:last-child{
    background-color: #fff;
}
.color__contenedor, .tipografia__contenedor{
    margin-top: 2rem;
    width: 36rem;
}
.tipografia__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}
.tipografia__item img{
    border-radius: 1rem;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
    width: 17rem;
}



.logotipo{
    margin-top: 5rem;
}
.logotipo__contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 10rem 0 10rem;
}
.logotipo__item{
    width: 16rem;
    height: 8rem;
    border-radius: 1rem;

}
.logotipo__contenedor img{
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}



.texturas{
    margin-top: 5rem;
}
.texturas__contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.texturas__contenedor img{
    object-fit: cover;
    width: 35rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}



.productos{
    margin-top: 5rem;
}
.productos__contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.productos__item{
    width: 35rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px 0px #1e1e1e30, 0px 2px 6px 2px #1e1e1e15;
}
.productos__contenedor img{
    object-fit: cover;
}





@media screen and (min-width: 768px) and (max-width:1210px){

    .resumen__subtitulo h3,
    .identificadores__subtitulo h3, .logotipo__subtitulo h3,
    .texturas__subtitulo h3, .productos__subtitulo h3    {
        margin: 0 1rem 0 1rem ;
        text-align: center;
    }
    
    .color__subtitulo h3, .tipografia__subtitulo h3{
        text-align: center;
    }


    .resumen__descripcion{
        align-items: center;
        flex-direction: column;
        gap: 0.2rem;
        margin-top: 2rem;    
    }
    .resumen__descripcion p{
        text-align: center;
        width: 70vw;
    }


    .identificadores__container{
        gap: 2rem;
        margin: 2rem 6rem 0 6rem ;
    }


    .recursos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }
    .color__contenedor img{
        width: 60vw;
    }
    .color__contenedor, .tipografia__contenedor{
        margin-top: 35px;
        width: 75vw;
    }
    .tipografia__contenedor{
        gap: 1.4rem 3rem;
    }
    .tipografia__item img{
        width: 22rem;
    }


    .logotipo__contenedor{
        margin: 2rem 10rem 0 10rem;
    }


    .texturas__contenedor{
        gap: 1.5rem;
        margin: 2rem 1rem 0 1rem;
        flex-direction: column;
        align-items: center;
    }
    .texturas__contenedor img{
        object-fit: cover;
        width: 75vw;
        height: 20vh;
    }



    .productos__contenedor{
        align-items: center;
        flex-direction: column;
    }
    .productos__contenedor img,video{
        width: 75vw;
        height: 45vh;
    }
}

@media screen and (max-width: 767px){
    .resumen__subtitulo h3,
    .identificadores__subtitulo h3, .logotipo__subtitulo h3,
    .texturas__subtitulo h3, .productos__subtitulo h3    {
        margin: 0;
        text-align: center;
    }
    
    .color__subtitulo h3, .tipografia__subtitulo h3{
        text-align: center;
    }

    .resumen__descripcion{
        align-items: center;
        flex-direction: column;
        gap: 0.2rem;
        margin-top: 2rem;    
    }
    .resumen__descripcion p{
        text-align: center;
        width: 85vw;
    }


    
    .identificadores{
        margin-top: 2rem;
    }
    .identificadores__container{
        gap: 2rem;
        margin: 2rem 3rem 0 3rem;
    }





    .recursos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }
    .color__contenedor img{
        width: 85vw;
    }
    .color__contenedor, .tipografia__contenedor{
        margin-top: 35px;
        width: 85vw;
    }
    .tipografia__contenedor{
        gap: 1.4rem 3rem;
    }
    .tipografia__item img{
        width: 22rem;
    }


    .logotipo__contenedor{
        margin: 2rem 2rem 0 2rem;
    }

    .logotipo__contenedor img{
        width: 12rem;
    }

    .texturas__contenedor{
        margin: 2rem 1rem 0 1rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .texturas__contenedor img{
        object-fit: cover;
        width: 85vw;
        height: 15vh;
    }

    .productos__contenedor{
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .productos__contenedor img{
        width: 85vw;
        height: 50vh;
    }
}